@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;300;400;500;700&display=swap');
@import "./vars";
@import './mixins';
@import './extends';
@import './media.scss';

*, 
::after, 
::before{
	margin: 0;
	padding: 0;
	outline: none;
	font-family: 'Roboto Slab', serif;
	box-sizing: border-box;
}

.container{
	max-width: $main-width;
	padding: 20px;

	>.menu-icon{
		max-width: $main-width;
		cursor: pointer;
		
		>img{
			width: 24px;
			margin-bottom: 5px;
		}
	}

	&>header{
		@extend %flexDisplay;

		>span:first-of-type{
			font-size: 16px;
			font-weight: 600;
			margin-bottom: 15px;
		}

		>.blue-line{
			@extend %blueLine;
		}
	}

	#first-section{
		@extend %sections;
		
		>.dream-work{
			width: $main-width;
			@extend %flexDisplay;
			margin-bottom: 50px;

			>.google-img {
				width: $main-width;
				height: 200px;
				position: relative;
				margin-bottom: 30px;

				img{
					pointer-events: none;
					height: inherit;
					width: inherit;
					position: absolute;
					object-fit: cover;
					top: 0;
					left: 0;
				}
			}

			>.google-txt{
				>p:first-of-type{
					font-weight: bold;
					font-size: 40px;
					color: rgb(59, 59, 59);
				}

				>p:nth-child(2){
					margin-top: 25px;
					text-transform: uppercase;
					@extend %nthFont;
				}

				>p:last-of-type{
					margin-top: 15px;
					@extend %nthFont;
				}

				>.google-btn >button{
					@extend %allButtons;
					width: 158px!important;
	
					&:hover{
						background-color: rgb(237, 244, 255);
						transition: all 400ms ease;
					}
				}
			}
		}
	}

	>.last-published{
		max-width: 100%;

		>p:first-of-type{
			font-size: 24px;
			font-weight: bold;
			margin-bottom: 15px;
			color: rgb(59, 59, 59);
		}

		>.blue-line-half{
			@extend %blueLine;
			margin-bottom: 30px;
		}
	}

	#second-section{
		>.news-list{
			width: $main-width;
			@extend %flexDisplay;
			margin-bottom: 50px;
			border-bottom: $border-bottom;

			>.news-img{
				width: $main-width;
				height: 100px;
				position: relative;
				margin-bottom: 30px;

				img{
					pointer-events: none;
					height: inherit;
					width: inherit;
					position: absolute;
					object-fit: cover;
					top: 0;
					left: 0;
				}
			}

			>.news-txt{
				>p:first-of-type{
					font-weight: bold;
					font-size: 16px;
					color: rgb(59, 59, 59);
				}

				>p:last-child{
					margin-top: 15px;
					@extend %nthFont;
				}
			}

			>.news-btn >button{
				@extend %allButtons;
				margin-bottom: 40px;
				&:hover{
					background-color: rgb(237, 244, 255);
					transition: all 400ms ease;
				}
			}
		}
	}

	#third-section{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;

		>.another-news{
			max-width: 45%;
			@extend %flexDisplay;
			margin-bottom: 20px;

			>.another-img{
				width: $main-width;
				height: 80px;
				position: relative;
				margin-bottom: 20px;

				img{
					pointer-events: none;
					height: inherit;
					width: inherit;
					position: absolute;
					object-fit: cover;
					top: 0;
					left: 0;
				}
			}

			>.another-txt{
				>p:first-of-type{
					font-weight: bold;
					font-size: 21px;
					color: rgb(59, 59, 59);
				}

				>p:last-child{
					margin-top: 15px;
					color: $nth-font-color;
					font-size: 12px;
				}
			}

			>.another-btn >button{
				@extend %allButtons;
				margin: 35px 0 20px 0!important;
				&:hover{
					background-color: rgb(237, 244, 255);
					transition: all 400ms ease;
				}
			}
		}
	}

	>.info{
		>p:first-of-type{
			font-size: 20px;
			font-weight: bold;
			margin: 15px 0;
			color: rgb(59, 59, 59);
		}

		>.blue-line-half{
			@extend %blueLine;
			max-width: 160px!important;
			margin-bottom: 5px;
		}
	}

	&>footer{
		>div{
			margin-top: 40px;

			>.footer-txt{
				>p:first-of-type{
					font-size: 20px;
					font-weight: bold;
					color: rgb(59, 59, 59);
					margin-bottom: 10px;
				}

				>p:last-child{
					color: $nth-font-color;
					font-size: 12px;
					width: 180px;
				}
			}
		}
		
	}
}