@media screen and (min-width: 630px){
	.container{
		padding: 20px 40px!important;

		>.menu-icon{
			max-width: $main-width;
			margin-bottom: 5px;
			cursor: pointer;

			>img{
				position: relative;
				left: -20px;
				width: 24px;
			}
		}

		#first-section{
			>.dream-work{
				>.google-img {
					height: 400px!important;
				}
				
				>.google-txt{
					>.google-btn >button{
						margin-bottom: 40px;
					}
				}
			}
		}

		>.last-published{
			>.blue-line-half{
				max-width: 340px;
			}
		}

		#second-section{
			margin-top: 50px!important;

			>.news-list{
				>.news-img{
					height: 200px!important;
				}
			}
		}

		#third-section{
			>.another-news{
				>.another-img{
					height: 200px!important;
				}
			}
		}

		&>footer{
			>div:first-of-type{
				float: left;
			}
			
			>div:last-of-type{
				margin: 34px 0;
				float: right;
			}
		}
	}
}

@media screen and (min-width: 900px){
	.container{
		#first-section{
			margin-top: 80px!important;

			.dream-work{
				display: flex;
				flex-direction: row-reverse;
				justify-content: space-between;
				align-items: center;
				
				>.google-img {
					height: 300px!important;
					width: 45%!important;

					>img{
						width: 100%!important;
					}
				}

				>.google-txt{
					width: 50%!important;
				}
			}
		}

		#second-section{
			display: flex;
			flex-wrap: wrap;
			border-bottom: 2px solid rgb(241, 241, 241);
			margin-bottom: 50px;
			>.news-list{
				max-width: 50%;
				margin-bottom: 0!important;
				padding: 15px; 

				&:nth-child(1),
				&:nth-child(3),
				&:nth-child(5){
					border-right: 1px solid rgb(218, 218, 218);
				}

				&:nth-child(3),
				&:nth-child(4),
				&:nth-child(5),
				&:nth-child(6){
					padding-top: 60px;
				}

				&:nth-child(5),
				&:nth-child(6){
					border-bottom: none!important;
					margin-bottom: 30px!important;
				}
			}
		}

		#third-section{
			>.another-news{
				max-width: 23%!important;
			}

			>.another-img{
				height: 100px!important;
			}
		}

		&>footer{
			display: flex;
			align-items: flex-start;
			justify-content: space-around;

			>div{
				float: none!important;
				display: flex;
				align-items: center;
				

				>.footer-img{
					margin: 0 20px!important;
				}

				>.footer-txt{
					max-width: 250px!important;
				}

				&:last-of-type{
					>.footer-txt{
						max-width: 350px!important;

						>p:last-of-type{
							width: 200px!important;
						}
					}
				}
			}
		}
	}
}