@media screen and (min-width: 300px) {
	#app {
		display: flex;
		flex-direction: column-reverse;
		
		.container-menu {
			>.search {
				display: none;
			}
		}
	}
}

@media screen and (min-width: 630px){
	#app{
		.container-menu{
			>div:nth-child(2){
				margin-top: 20px;
				padding: 20px 40px!important;

				>.info-new{
					>.info-img{
						height: 200px!important;
					}
				}
			}
		}
	}
}

@media screen and (min-width: 1200px) {
	#app{
		display: flex;
		flex-direction: row;
		width: 100%;
		
		.container-menu{	
			width: 0%;

			>.search{
				display: block;
			}

			&.position-menu{
				width: 25%;
				transition: all 0.6s ease;
			}

			&.position-change-menu{
				width: 0%;
				transition: all 0.6s ease;
			}

			>div:nth-child(2){
				padding: 30px 25px!important;

				.info-new {
					.info-img {
						height: 120px!important;
					}
				}

			}
		}
	}
}